@charset 'utf-8';
@import url('webfonts.css');

/* 리셋 */
:root {
  --primary-font: 'Roboto', 'Pretendard Variable', sans-serif;
  --secondary-font: 'Pretendard Variable', sans-serif;
  --serif-font: 'Nanum Myeongjo', serif;
  --primary-color: #1A1311;
  --point-color: #dc000c;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before, *:after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body { /* 배경색, 글자(색생, 글꼴, 사이즈, 줄간격) */
  font-size: 16px;
  font-family: var(--primary-font);
  color: #1A1311;
  line-height: 1.5;
  background-color: #f8f8f8;
}
ul, ol {
  list-style-type: none;
}
a {
  color: #1A1311;
  text-decoration: none;
}
img, video, iframe {
  vertical-align: middle;
}
table {
  width: 100%;
  border-collapse: collapse;
  /* 테이블 내 보더가 이중으로 생기는 것을 막음 */
}
input, select, textarea, button {
  border: 0;
  font-size: 1em;
  background-color: transparent;
  font-family: var(--primary-font);
  color: #1A1311;
}

/* 공용클래스 */
.wrap {
  max-width: 1900px; /* pc 때문에 넣어놓은 것*/
  padding: 0 6px;
  margin: auto;
}
.blind {
  position: absolute;
  left: -9999em;
}
.clearfix:after {
  /* 
  1. 가로 나열을 float을 이용해 하는 경우 부모의 높이가 '0' 
  :after를 생성해서 끄트머리에 배치
  */
  content: '';
  display: block;
  clear: both; /* 양 쪽 다 비우라는 문법(아무것도 없는 빈줄에 생성하라는 의미) */
  /* 
  2. float으로 가로 나열한 자식을 가지고 있는 부모 영역에 overflow:auto를 설계하면 높이 문제를 해결(일부 IE는 안됨)
  clearfix 필요 없음
  */
}
.wh, .wh a {
  color: #fff;
}
.bk, .bk a {
  color: #000;
}
.point, .point a {
  color: var(--point-color);
}

/* 헤더 */
#canon-hd {
  position: relative;
  background-color: transparent;
}
.hd-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  
}
.logo a {}
.logo img {
  width: 120%;
}
#canon-gnb {}
.canon-gnb {
  display: flex;
}
.depth1 {
}
.depth1 > a {
  display: flex;
  align-items: center;
  height: 100px;
  font-size: 1.2em;
  font-weight: 600;
}
.depth2-wrap {
    position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 40px;
}
.depth2 {
  display: block;
  /* justify-content: center; */
  /* gap: 60px; */
  font-size: 1.4em;
  background-color: #fcfcfc;
}
.depth2 li {}
.depth2 a {}
.login {}
.login button {
  color: #dc000c;
}
.login-wrap {}
.join-btn {}
.login-btn {}
.sitemap-btn {}

/* 푸터 */