@charset 'utf-8';
/* 기본, 모바일 우선 */

/* 1. mo */
@media screen and (max-width: 767px) {
  .etc-container {
  height: 100%;
  max-width: 480px;
  margin: 0 auto;
}
}

/* 2. tb~ */
@media screen and (min-width: 768px) {
  .main-section h2 {

  font-size: 48px;

}

  #canon-main {
  padding-top: 70px; /* 태블릿 헤더 높이 */
}
.hero-container {
  padding-top: 56.25%; /* 4:3 비율 박스 */
}
.hero-video {

  object-position: center center;

}


.etc-container {
  display: flex;
  flex-wrap: wrap;
  height: 60%;
}
.etc-item {
  width: 50%;
  height: 50%;
  padding: 0 10px 20px;
  text-align: center;
  transition: 0.5s;
}
.etc-item:hover .item {
  background-size: 150%;
  overflow: hidden;
}
.item {

  background-size: 120%;

}
.service-list {
  display: flex;
  width: 100%;
}
.service-item {
  padding:0;
  width: 25%;
  border-bottom: none;
}
.service-item a {
  position: relative;
  display: block;
  padding-top: 100%;
  transition: 0.5s;
}
.service-item a:hover {
  background-color: #ce000a;
}
.service-item a:after { /* 애니메이션 라인 */
display: none;
}
.service-item a:hover ul {
  color: #fff;
}
.service-item ul {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  gap: 0;
  align-items: center;
  font-size: 1.2em;
  transform: translate(-50%, -60%);
  white-space: nowrap;
  flex-direction: column;
}

.service-item a ul:before { 
  font-size: 4em;
  height: 100px;
}
.service-contents {
  display: none;
}
.search, .support, .registration {border-right: 2px solid #000;}

}

/* 3. only tb */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .etc-container {
  max-width: 870px;
  margin: 0 auto;
}
}

/* 4. laptop 1280~ */
@media screen and (min-width: 1280px) {
    .main-section h2 {

  font-size: 64px;

}
  #canon-main {
  padding-top: 100px; /* pc 헤더 높이 */
}
.hero-container {
  padding-top: 0;
  height: calc(100vh - 100px);
}
.hero-video {
  position: static;
  /* position 원래대로 돌려 놓음 */
}
.etc-container {
  flex-wrap: nowrap;
  gap: 1em;
  width: 100%;
}
.etc-item {
  padding: 0;
  width: 0;
  height: 100%;
  text-align: center;
  transition: 0.5s;
}
.item1, .item2, .item3, .item4 {flex-grow: 1; transition: 0.7s;}
/* .etc-item:first-child {flex-grow: 1.5;}
.etc-item:nth-child(1) {flex-grow: 0.5;}
.item3 {flex-grow: 0.5;}
.item4 {flex-grow: 1.5;} */
.etc-item:hover .item {
  background-size: cover;
}
.etc-item:hover .item > ul {
  border-bottom: none;
  color: #fff;
}
.view span{

  right: 30px;

  bottom: 40px;

}

.item {
  background-size: cover;
}
.item > ul {
  /* display: none; */
  font-size: 20px;
}

.item:hover ul {
  width: 100%;
  font-size: 56px;
  border-bottom: none;
}
.text {
 /* position: absolute; */
  /* margin: auto; */

  font-size: 32px;
  font-weight: 500;
  white-space: wrap;
  word-break: keep-all;
}
.service-item a ul:before { 
  font-size: 5em;
  height: inherit;
  
}
}

/* 5. laptop 1921~ */
@media screen and (min-width: 1921px) {}
