@charset 'utf-8';

/* 공용클래스 */
#canon-main {
  padding-top: 49px;
  /*모바일 헤더 높이*/
}

.main-section {
  min-height: 100vh;
  border-bottom: 1px solid #ddd;
  margin-bottom: 100px;
}

.main-section h2 {
  font-size: 40px;
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.main-container {}

/* 히어로 영역 */
.main-section-hero {}

.hero-wrap {}

.hero-container {
  position: relative;
  padding-top: 100%;
  /* 1:1 비율 박스 */
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 빈 곳 없이 꽉꽉 채우게 하기(선택 아닌 필수)*/
  /* 
  절대로 짤려 나가지 말아야하면 contain
  fill = 억지로 화면에 맞추는 것
  */
  object-position: center top;
}

/* 신제품 영역 */
.main-section-new {
  padding: var(--spacing-m) 0;
}

.new-wrap {}

.new-container {}

/* 추천 영역 */
.main-section-recommend {
}

.recommend-wrap {
  background: rgba(0, 0, 0, 0.7) url("../images/visual_bgc2.jpg") center left / cover no-repeat;
  background-blend-mode: darken;
  
}

.recommend-wrap>h2 {
  color: #fff;
}


.recommend-wrap {}

.recommend-container {
  height: 100vh;
  width: 100%;
}


/* 캐논 관련 서브 사이트 영역 */
.main-section-etc {}

.etc-wrap {
  height: 100vh;
}

.title {
  text-align: center;
  padding-bottom: 2em;
}
.title > h3 {
  font-weight: 500;
}

.etc-container {
  height: 100%;
}

.etc-item {
  height: 20%;
  text-align: center;
  transition: 0.5s;
}

.etc-item:hover .item {
  background-size: 120%;
  overflow: hidden;
}
.etc-item:hover .item > ul {
  /* border-bottom: 4px solid var(--point-color); */
  color: var(--point-color);
}
/* .etc-item:hover .text {
  opacity: 1;
} */
.item {
  position: relative;
  display: block;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 0.5s;
}
.item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.4;
}

.item ul {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}
.item ul li {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.text {
  display: block;
margin: auto;
text-align: center;
  width: 500px;
 opacity: 0;
}
.show {
  display: block;
  opacity: 1;
}
.view{
  display: none;
}
.view span{
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--point-color);
}
.view span:after{
  content: '\e315';
  padding-top: 5px;
  font-family: var(--google-icon);
}


.rf {background-image: url("../images/etc_rf.png");}

.catalog {background-image: url("../images/etc_catalog.png");}

.image {background-image: url("../images/etc_image.png");}

.saon {background-image: url("../images/etc_saon.png");}

/* 커뮤니티 영역 */
.main-section-community {}

.community-wrap {}

.community-container {}

/* 서비스 영역 */
.main-section-service {
}

.service-wrap {}
.service-wrap h2 { margin-bottom: 20px;}

.service-container {
}

.service-list {
  width: 100%;
}
.service-list div {
  
}
.service-item {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #000;
}

.service-item  a {
  display: block;
  transition: 0.3s;
}
.service-item a:hover {
  
}
.service-item a:after { /* 애니메이션 라인 */
  position: absolute;
  top: 92px;
  content: '';
  border-bottom: 2px solid var(--point-color);
  width: 0;
  transition: 0.3s;
}
.service-item:hover a:after {
  width: 100%;
}
.service-item a:hover ul {
  color: var(--point-color);
}
.service-item ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.2em;
  font-weight: 500;
  white-space: nowrap;
}
.service-item a ul:before { 
  font-size: 2.5em;
}
.search a ul:before { content: '\f6ea'; font-family: var(--google-icon);} 
.support a ul:before { content: '\f3ed'; font-family: var(--google-icon);} 
.registration a ul:before { content: '\ef76'; font-family: var(--google-icon);} 
.academy a ul:before { content: '\e54b'; font-family: var(--google-icon);} 

.service-contents {
  font-size: 0.8em;
  font-weight: normal;
  padding-top: 3px;
}
.search, .support, .registration {border-right:none;}
.support {}
.registration {}
.academy {}