@charset 'utf-8';
/* 기본, 모바일 우선 */

/* 1. mo */
@media screen and (max-width: 767px) {


  .etc-container {
    height: 100%;
    max-width: 480px;
    margin: 0 auto;
  }


}

/* 2. tb~ */
@media screen and (min-width: 768px) {
  .main-section h2 {

    font-size: 48px;

  }

  #canon-main {
    padding-top: 70px;
    /* 태블릿 헤더 높이 */
  }

  .hero-container {
    padding-top: 56.25%;
    /* 4:3 비율 박스 */
  }

  .hero-video {}

  /* 신제품영역 */
  .new-item-list div:first-child {
  width: 65%;
}
  .new-img { 
     padding-top: 4em;
    height: 400px;
  }
  .new-img img {
    border-radius: 20px;

  }
.new-content {
  font-size: 1.3em;
}

.new-pagination {
  position: absolute;
  top: 30%;
  right: 2%;
  display: flex;
  gap: 1em;
  padding: 0;
  font-size: 1em;
  z-index: 1;
  font-weight: 500;
}
.new-pagination a {
  color: rgba(0, 0, 0, 0.5);
}

.new-pagination>.active>a {
  color: var(--point-color);
  border-bottom: 2px solid var(--point-color);
  font-size: 1.1em;
}

.new-pagination a {
}

.new-pagination a:after {
}


  /* 제품영역 */

  .recommend-button {
    padding: 1.3em;
    font-size: 1.5em;
  }

  .item-link {
    padding-bottom: 5em;
  }


  /* etc영역 */
  .etc-container {
    display: flex;
    flex-wrap: wrap;
    height: 60%;
  }

  .etc-item {
    width: 50%;
    height: 50%;
    padding: 0 10px 20px;
    text-align: center;
    transition: 0.5s;
  }

  .etc-item:hover .item {
    background-size: 150%;
    overflow: hidden;
  }

  .item {
    background-size: 120%;
  }


  .item ul {
    top: 42%;
  }

  .view {
    padding: 5px 5px 5px 15px;
    width: 130px;
    right: 50%;
    bottom: 25%;
    transform: translateX(50%);
    font-size: 1em;
  }

  /* 커뮤니티 영역 */
  .com-list {

  background-size: 100%;

}


  /* 서비스 영역 */
  
  .service-container{
  padding-top: 2em;
}

.service-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .service-item {
    width: 45%;
    padding: 10px 0 30px;
    border-bottom: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }

  .service-item a {
    transition: 0.5s;
    height: 100%;
  }
  
  .service-item:hover {
transform: scale(1.05);
transition: 0.5s;
  }
  
  .service-item a:after {
    /* 애니메이션 라인 */
    display: none;
  }
  
  .service-item a:hover ul {
    
  }
  
  .service-item ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
    white-space: wrap;
  }

  .service-item a ul:before {
    font-size: 2.4em;
  }

  .service-contents {
    font-size: 16px;
    /* display: none; */
  }



}

/* 3. only tb */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .new-img {

  }

  .etc-container {
    max-width: 870px;
    margin: 0 auto;
  }

  .community-container {
    max-width: 800px;
    margin: auto;
  }
}

/* 4. laptop 1280~ */
@media screen and (min-width: 1280px) {
  .main-section h2 {
    font-size: 64px;
  }

  .main-section h3 {
    font-size: 30px;
  }

  #canon-main {
    padding-top: 100px;
    /* pc 헤더 높이 */
  }

  .hero-container {
    padding-top: 0;
    height: calc(100vh - 100px);
  }

  .hero-video {
object-fit: cover;

  }

  /* 신제품영역 */
  .myswiper {
  }

.new-item-list div:first-child {
  width: 50%;
}

    .new-img { 

    height: 500px;

  }

  .new-img img {}
.new-pagination {

  top: 25%;

}
.new-pagination {

  gap: 2em;

}



  /* 제품영역 */
  .recommend-wrap {
    padding-top: 5em;
  }



  .recommend-button {
    padding: 1em 1em 2em;
    margin: 0.5em 0 2em;
    font-weight: 500;
    font-size: 1.7em;
  }

  .item-link {
    padding-bottom: 5em;
  }

  .item-link img {
    margin: auto;
    width: 75%;
    padding-bottom: 1em;
  }

  .item-link span {
    display: block;
    color: #fff;
    text-align: center;
  }


  /* etc */
  .title {
    padding-bottom: 5em;
  }

  .etc-container {
    flex-wrap: nowrap;
    gap: 1em;
    width: 100%;
  }

  .etc-item {
    padding: 0;
    width: 0;
    height: 100%;
    text-align: center;
    transition: 0.5s;
  }

  .item1,
  .item2,
  .item3,
  .item4 {
    flex-grow: 1;
    transition: 0.7s;
  }

  .etc-item:hover .item {
    background-size: cover;
  }

  .etc-item:hover .item>ul {
    border-bottom: none;
    color: #fff;
    top: 40%;
  }

  .view {
    display: none;
    padding: 5px 5px 5px 15px;
    width: 130px;
    right: 50%;
    bottom: 25%;
    font-size: 1em;
  }

  .etc-item:last-child .view {
    bottom: 30%;
  }

  .item {
    background-size: cover;
  }

  .item>ul {
    font-size: 20px;
  }

  .item:hover ul {
    width: 100%;
    font-size: 56px;
    border-bottom: none;
  }

  .item ul {

    top: 40%;

  }

  .text {
    font-size: 32px;
    font-weight: 500;
    white-space: wrap;
  }


  /* 커뮤니티 영역 */
  .community-wrap {
    position: relative;
    display: flex;
    padding-top: 2em;
  }

  .community-wrap>h2 {
    position: absolute;
    top: 0;
    left:96px;
    padding: 50px 0;
    font-size: 80px;
    text-align: left;
    width: 35%;
    line-height: 1.1;
  }

  .community-container {
    height: auto;
    width: 100%;
  }

  .community {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5em;
  }
  .community2 {
    display: flex;
    justify-content: space-between;
    height: auto;
  }
  
  .com-list {
    position: relative;
    height: 400px;
    width: 49%;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .com-list:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 1;
  }
  
  .brand:before {    
    background-color: var(--point-color);

  }
  .event:before {    
    background-color: #bfbdbd;
  }
  .com-list:hover {
    background-size: 105%;
    transition: 0.5s;
  }
  .com-list:hover:before {
    content: '';
    opacity: 0;
    transition: 0.5s;
  }
  .com-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 20px;
    text-align: center;
    /* color: var(--primary-color); */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

  }

  .com-btn dt {
    font-size: 2.5em;
    font-weight: 700;
  }

  .com-btn dd {
    font-size: 1.3em;
    /* display: none; */
    word-break: keep-all;
  }

  /* 서비스영역 */
  .service-list {

flex-wrap: nowrap;

  }

.service-item {
  width: 25%;
  height: 300px;
  padding: 30px 20px;

}
  .service-item ul {
  font-size: 1.8em;
  }
  .service-contents {

    font-size: 20px;

  }


}
/* 5. pc 1600px부터~ */
@media screen and (min-width: 1600px) {
  

}


/* 5. laptop 1921~ */
@media screen and (min-width: 1921px) {

}


@keyframes product-page {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100);
  }
}